node_modules
.medusa
dist
.git
.github
.env
.env.*
!.env.example
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
.vscode
.idea
README.md
Dockerfile
.dockerignore
docker-compose.yml
*.tsbuildinfo
